html {
    scroll-behavior: smooth;

}
body {
    margin: 0px;
    padding: 0px;
    font-family: Calibri, sans-serif;
}

.header {
    border-bottom: 2px solid rgb(57, 138, 214);    
}

.page {

}

.footer {
   
}

.column {
   /*border: 1px solid black;*/
    width: 1000px;
    margin: auto;
}
.page .column {
    height: 100vh;
}

#logo-i-social {
    display: flex;
}

#logo-holder {
    flex-grow: 1;
}

#logo-holder img {
    height: 50px;
    width: 150px;
}

#social-holder {
    flex-grow: 1;
    margin: 5px;
    text-align: right;
}
#social-holder a img{
    height: 24px;
    width: 24px;
}
#social-holder a {
    text-decoration: none;
}

#main-menu {
    display: flex;
}

#main-menu a {
    flex-grow: 1;
    text-align: center;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(57, 138, 214);
}

#main-menu a:hover,
#main-menu a.active
{
    color: white;
    background: rgb(57, 138, 214);
    transition: 300ms ;
}

#Pocetna{
    text-align: center;
    color: white;
    background: url(ikonice/pozadinOblaci.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Pocetna h1 {
    margin-top: 0px;
    padding-top: 50px;
    font-size: 42pt;
}

.dark-box {
    background-color: #33333330;
    border: 1px solid white;
    font-size: 24pt;
    padding: 40px;
}

#Usluge{
    background: url(ikonice/rozeGrad.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Karijera{
    background: url(ikonice/rozeCvece.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.align-center {
    text-align: center;
}

.krugovi {
    display: flex;
    margin: 30px 0;
}
#O-nama h2{
    font-size: 42px;
}
.krug-holder {
    flex-grow: 1;
    text-align: center;
}

.krug {
    background-color:rgb(57, 138, 214);
    color: white;
    font-size: 50px; 
    font-weight: bold;
    display: inline-block;
    padding: 25%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.oznaka {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.tehnologije{
    display: flex;
    margin: 50px 0;
}
.tehnologija {
    flex-grow: 1;
    text-align: center;
}
.tehnologija img {
    width: 48px;
    height: 48px;
}

.tehnologija p {
    font-weight: bold;
}

#Usluge {
    color: white;
    font-weight: bold;
}

#Usluge h2 {
    padding-top: 40px;
    font-size: 32px;
}

#paragraf {
 margin-bottom: 40px;
}

.service-row {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.service-row > div {
    text-align: center;
    position: relative;
    width: 300px;
    height: 150px;
    border: 1px solid white;
}

.service-row > div >img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.service-row img {
    width: 300px;
    height: 150px;
}

.service-row > div >p {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;

    background-color: #ffffffA2;
    color: black;
    margin-bottom: 0px;
    border-top: 1px solid white;
}

#Proizvodi h2 {
    padding-top: 30px;
}

.matrica {
    margin-top: 40px;
    height: 500px;
    display: grid;
    grid-template: "a b c"
                     "d b e"
                    "f f g";

    align-content: space-between;
    justify-content: space-between;
   
}

#proizvod-a {
    grid-area: a;
    
}
#proizvod-a img {
    height: 150px;
    width: 300px;
}
#proizvod-b {
    grid-area: b;
}
#proizvod-b img {
    height: 325px;
    width: 300px;
}
#proizvod-c {
    grid-area: c;
}
#proizvod-c img {
    height: 150px;
    width: 300px;
}
#proizvod-d {
    grid-area: d;
}
#proizvod-d img {
    height: 150px;
    width: 300px;
}
#proizvod-e {
    grid-area: e;
}
#proizvod-e img {
    height: 150px;
    width: 300px;
}
#proizvod-f {
    grid-area: f;
}

#proizvod-f img {
    height: 150px;
    width: 650px;
}
#proizvod-g {
    grid-area: g;
}
#proizvod-g img {
    height: 150px;
    width: 300px;
}

.proizvod {
    display: grid;
    grid-template: "region";
    align-content: space-around;
    justify-content: space-around;
}

.proizvod img {
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
}

.proizvod .text-holder {
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;

    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    font-weight: bold;

    background-color: #398ad6c4;
    opacity: 0.0;
    transition: 500ms;
}

.proizvod:hover .text-holder{
 opacity: 1;
}

#Karijera h2 {
    padding-top: 50px;
}

.career-column {
    display: flex;
}

.job-list {
    flex-grow: 1;
    flex-basis: 0;
}

.job-descriptions {
    flex-grow: 2;
    flex-basis: 0;
}

.job-list label {
    display: block;
    margin-bottom: 10px;
    border: solid white;
    background-color: #ffffffC0;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.job-descriptions input {
    display: none;
}

.job-descriptions .job-description{
    display: none;
}

.job-descriptions input:checked + .job-description{
    display: block;
}

.job-description {
    margin-left: 10px;
    border: solid white;
    background-color: #ffffffC0;
    padding: 10px;
    font-size: 20px;
}

#Kontakt h2 {
    margin-top: 80px;
    margin-bottom: 40px;
}

.kontakt-region {
    display: grid;
    grid-template:  "adrese mapa"
                   "mejlovi mapa" ;
    grid-template-columns: 300px 1fr;
}

.kontakt-adrese {
    grid-area: adrese;
    padding-bottom: 15px; 
    font-size: 13px;
}
.kontakt-mejlovi {
    grid-area: mejlovi;
}
.kontakt-mapa {
    grid-area: mapa;
    border: 1px solid rgb(57, 138, 214);

}
.kontakt-mejlovi a {
    text-decoration: none;
    color: rgb(57, 138, 214);
}

.kontakt-mejlovi a:hover {
    text-decoration: underline;
    color: rgb(57, 138, 214);
}

.footer {
    border-top: 3px solid rgb(57, 138, 214);
}

.footer .column {
    display: flex;
}

.footer .footer-column {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.footer-column a {
    text-decoration: none;
    color: rgb(57, 138, 214);
}

.footer-column a:hover {
    text-decoration: underline;
}
